[Desktop Entry]
Version=1.0
Name=KWin Globalshortcuts
Comment=Keyboard shortcuts settings for Kwin Wayland
TryExec=systemsettings
Exec=kcmshell6 keys --caption "KWin shortcut keys"
Icon=configure-shortcuts
Terminal=false
Type=Application
Categories=Qt;Settings;
StartupNotify=true
OnlyShowIn=LXQt;
