[Desktop Entry]
Version=1.0
Name=Xfwm4 Workspaces
Name[am]=Xfwm4 የስራ ገበታ
Name[ar]=Xfwm4 مساحات العمل
Name[ast]=Xfwm4 Estayes de trabayu
Name[be]=Xfwm4 Працоўныя прасторы
Name[be@tarask]=Xfwm4 Прасторы
Name[bg]=Xfwm4 Работни места
Name[bn]=Xfwm4 কর্মপরিসর
Name[ca]=Xfwm4 Espais de treball
Name[cs]=Xfwm4 Pracovní plochy
Name[da]=Xfwm4 Arbejdsområder
Name[de]=Xfwm4 Arbeitsflächen
Name[el]=Xfwm4 Χώροι εργασίας
Name[en_AU]=Xfwm4 Workspaces
Name[en_CA]=Xfwm4 Workspaces
Name[en_GB]=Xfwm4 Workspaces
Name[eo]=Xfwm4 Laborspacoj
Name[es]=Xfwm4 Áreas de trabajo
Name[et]=Xfwm4 Tööruumid
Name[eu]=Xfwm4 Idazmahaiak
Name[fa_IR]=Xfwm4 فضای کاری
Name[fi]=Xfwm4 Työtilat
Name[fr]=Xfwm4 Espaces de travail
Name[gl]=Xfwm4 Espazos de traballo
Name[he]=Xfwm4 משטחי עבודה
Name[hr]=Xfwm4 Radni prostori
Name[hu]=Xfwm4 Munkaterületek
Name[hy_AM]=Xfwm4 Աշխատատարածքներ
Name[hye]=Xfwm4 Աշխատատարածքներ
Name[id]=Xfwm4 Area Kerja
Name[ie]=Xfwm4 Labor-spacies
Name[is]=Xfwm4 Vinnusvæði
Name[it]=Xfwm4 Spazi di lavoro
Name[ja]=Xfwm4 ワークスペース
Name[ka]=Xfwm4 სამუშაო სივრცეები
Name[kk]=Xfwm4 Жұмыс орындары
Name[ko]=Xfwm4 작업 공간
Name[lt]=Xfwm4 Darbo sritys
Name[lv]=Xfwm4 Darbavietas
Name[ms]=Xfwm4 Ruang kerja
Name[nb]=Xfwm4 Arbeidsområde
Name[nl]=Xfwm4 Werkbladen
Name[nn]=Xfwm4 Arbeidsområde
Name[oc]=Xfwm4 Espacis de trabalh
Name[pa]=Xfwm4 ਵਰਕਸਪੇਸ
Name[pl]=Xfwm4 Obszary robocze
Name[pt]=Xfwm4 Áreas de trabalho
Name[pt_BR]=Xfwm4 Espaços de trabalho
Name[ro]=Xfwm4 Spații de lucru
Name[ru]=Xfwm4 Рабочие места
Name[si]=Xfwm4 වැඩ අවකාශ
Name[sk]=Xfwm4 Pracovné plochy
Name[sl]=Xfwm4 Delovne površine
Name[sq]=Xfwm4 Hapësira pune
Name[sr]=Xfwm4 Радни простори
Name[sv]=Xfwm4 Skrivbord
Name[te]=Xfwm4 కార్యక్షేత్రాలు
Name[th]=Xfwm4 พื้นที่ทำงาน
Name[tr]=Xfwm4 Çalışma Alanları
Name[ug]=Xfwm4 خىزمەت رايونلىرى
Name[uk]=Xfwm4 Робочі області
Name[ur]=Xfwm4 مقام کار
Name[ur_PK]=Xfwm4 مقام کار
Name[vi]=Xfwm4 Vùng làm việc
Name[zh_CN]=Xfwm4 工作区
Name[zh_HK]=Xfwm4 工作區
Name[zh_TW]=Xfwm4 工作區
Comment=Configure layout, names and margins
Comment[ar]=Xfwm4 إعداد تصميم, أسماء والهوامش
Comment[ast]=Xfwm4 Configurar distribución del tecláu, nome y márxenes
Comment[be]=Xfwm4 Наладзіць размяшчэнне, назвы і бакавыя межы
Comment[be@tarask]=Xfwm4 Наладзіць напластаваньне, ймёны і мяжы
Comment[bg]=Xfwm4 Настройване на поведението, имената и отстъпите
Comment[ca]=Xfwm4 Configureu la disposició, els noms i els marges
Comment[cs]=Xfwm4 Konfiguruje rozvržení, názvy a okraje
Comment[da]=Xfwm4 Konfigurer layout, navne og margener
Comment[de]=Xfwm4 Anordnung, Namen und Ränder konfigurieren
Comment[el]=Xfwm4 Ρύθμιση διάταξης, ονομάτων και περιθωρίων
Comment[en_AU]=Xfwm4 Configure layout, names and margins
Comment[en_CA]=Xfwm4 Configure layout, names and margins
Comment[en_GB]=Xfwm4 Configure layout, names and margins
Comment[es]=Xfwm4 Configure la distribución, los nombres y los márgenes
Comment[et]=Xfwm4 Seadista paigutust, nimesid ja veeriseid
Comment[eu]=Xfwm4 Konfiguratu diseinua, izenak eta ertzak
Comment[fa_IR]=Xfwm4 پیکربندی لایه ، نام ها و حاشیه ها
Comment[fi]=Xfwm4 Muokkaa asettelua, nimiä ja reunuksia
Comment[fr]=Xfwm4 Configurer la disposition, les noms et les marges
Comment[gl]=Xfwm4 Configurar a disposición, os nomes e as marxes
Comment[he]=Xfwm4 הגדר מערך, שמות ושוליים
Comment[hr]=Xfwm4 Konfiguriraj raspored, imena i margine
Comment[hu]=Xfwm4 Elrendezés, nevek és margók beállítása
Comment[hy_AM]=Xfwm4 Կազմաձեւել շարակարգը, անունները եւ լուսանցքները
Comment[hye]=Xfwm4 Կազմաձեւել շարակարգը, անունները եւ լուսանցքները
Comment[id]=Xfwm4 Atur tata letak, nama, dan jarak
Comment[ie]=Xfwm4 Configurar arangeament, nómines e márgines
Comment[is]=Xfwm4 Stilla framsetningu, nöfn og spássíur
Comment[it]=Xfwm4 Configurazione della disposizione, dei nomi e dei margini
Comment[ja]=Xfwm4 レイアウト、名前、および余白を設定します
Comment[ka]=Xfwm4 განლაგების, სახელების და ზღვრების კონფიგურაცია
Comment[kk]=Xfwm4 Жайма, атауларды мен өрістерді баптау
Comment[ko]=Xfwm4 배치, 이름, 여백을 설정합니다
Comment[lt]=Xfwm4 Konfigūruoti išdėstymus, pavadinimus ir paraštes
Comment[ms]=Xfwm4 Selaraskan susunatur, nama dan margin
Comment[nb]=Xfwm4 Konfigurer utforming, navn, og marginer
Comment[nl]=Xfwm4 Opmaak, namen en marges instellen
Comment[nn]=Xfwm4 Set opp utforming, namn og margar
Comment[oc]=Xfwm4 Configurar l'agençament, los noms e los marges
Comment[pl]=Xfwm4 Konfiguruje układ, nazwy i marginesy obszarów roboczych
Comment[pt]=Xfwm4 Configurar esquema, nomes e margens
Comment[pt_BR]=Xfwm4 Configure layout, nomes e margens
Comment[ro]=Xfwm4 Personalizați-le numele, aspectul și marginile
Comment[ru]=Xfwm4 Настройка поведения окон и комбинаций клавиш
Comment[sk]=Xfwm4 Nastavenie rozloženia, názvov a okrajov
Comment[sl]=Xfwm4 Nastavite razpored, imena in odmike
Comment[sq]=Xfwm4 Formësoni skemë, emra dhe mënjana
Comment[sr]=Xfwm4 Подесите распоред, називе и ивице
Comment[sv]=Xfwm4 Konfigurera layout, namn och marginaler
Comment[th]=Xfwm4 ปรับแต่งการจัดวาง ชื่อ และแนวขอบของพื้นที่ทำงาน
Comment[tr]=Xfwm4 Yerleşim, ad ve boşlukları yapılandır
Comment[ug]=Xfwm4 جايلاشتۇرۇلۇشى، ئاتلىرى ۋە گىرۋەكلىرىنى سەپلەش
Comment[uk]=Xfwm4 Конфігурація розкладки, назв та полів
Comment[vi]=Xfwm4 Thiết lập cách bố trí, tên và lề
Comment[zh_CN]=Xfwm4 配置布局、名称和边缘
Comment[zh_HK]=Xfwm4 設定配置、名稱與邊緣
Comment[zh_TW]=Xfwm4 設定配置、名稱與邊緣
Keywords=workspaces;settings;preferences;virtual desktops;number;windows;screen;margins;
Keywords[be]=Xfwm4 працоўныя прасторы;налады;віртуальныя працоўныя асяроддзі;колькасць;вокны;экран;палі;
Keywords[be@tarask]=Xfwm4 прасторы;налады;перавагі;віртуальныя стальніцы;нумар;вокны;экран;палі;
Keywords[bg]=Xfwm4 работни места;настройки;предпочитания;виртуални работни плотове;брой;прозорци;екран;граници;
Keywords[ca]=Xfwm4 espais de treball;ajusts;preferències;escriptoris virtuals;nombre;finestres;pantalla;marges;
Keywords[cs]=Xfwm4 pracovní plochy;nastavení;předvolby;virtuální plochy;číslo;okna;obrazovka;okraje;
Keywords[da]=Xfwm4 arbejdsområder;indstillinger;præferencer;virtuelle skriveborde;tal;vinduer;skærm;margener;
Keywords[de]=Xfwm4 Arbeitsbereiche;Einstellungen;Präferenzen;virtuelle Schreibtische;Anzahl;Fenster;Bildschirm;Ränder;
Keywords[en_CA]=Xfwm4 workspaces;settings;preferences;virtual desktops;number;windows;screen;margins;
Keywords[es]=Xfwm4 espacios de trabajo;ajustes;preferencias;escritorios virtuales;número;ventanas;pantalla;márgenes;
Keywords[et]=Xfwm4 workspaces;settings;preferences;virtual desktops;number;windows;screen;margins;tööalad;töölauad;virtuaalsed töölauad;seadistused;eelistused;aknad;ekraan;ääred;
Keywords[fr]=Xfwm4 espaces de travail;paramètres;préférences;bureaux virtuels;nombre;fenêtres;écran;marges;
Keywords[gl]=Xfwm4 espazos de traballo;configuración;preferencias;escritorios virtuais;número;xanelas;pantalla;marxes;
Keywords[he]=Xfwm4 workspaces;settings;preferences;virtual desktops;number;windows;screen;margins;
Keywords[hr]=Xfwm4 radne površine;postavke;osobitosti;virtualne radne površine;broj;prozori;zaslon;margine;
Keywords[id]=Xfwm4 area kerja;pengaturan;preferensi;dekstop virtual;nomor;jendela;layar;pinggiran;
Keywords[it]=Xfwm4 spazio di lavoro;impostazioni;preferenze;desktop virtuali;numero;finestre;schermo;margini;
Keywords[ja]=Xfwm4 ワークスペース;設定;環境設定;仮想デスクトップ;数;ウィンドウ;画面;マージン;
Keywords[kk]=Xfwm4 жұмыс орындар;баптаулар;қалаулар;виртуалды жұмыс үстелдер;сан;терезелер;экран;шеттер;
Keywords[ko]=Xfwm4 workspaces;워크스페이스;작업공간;작업 공간;settings;설정;preferences;기본 설정;virtual desktops;가상 데스크톱;number;번호;windows;창;screen;화면;스크린;margins;여백;
Keywords[lt]=Xfwm4 darbo sritys;darbo sričių;darbo sriciu;nustatymai;nuostatos;virtualūs darbalaukiai;virtualus darbalaukiai;virtualių darbalaukių;virtualiu darbalaukiu;skaičius;skaicius;langai;ekranas;paraštės;parastes;
Keywords[nb]=Xfwm4 arbeidsområder;innstillinger;oppsett;virtuelle skrivebord;antall;vinduer;skjermer;marger;
Keywords[nl]=Xfwm4 werkbladen;instellingen;voorkeuren;virtuele bureaubladen;aantal;vensters;scherm;marges;
Keywords[oc]=Xfwm4 workspaces;settings;preferences;virtual desktops;number;windows;screen;margins;espaci;trabalh;paramètres;preferéncias;burèu;nombre;fenèstra;finèstra;ecran;
Keywords[pl]=Xfwm4 obszary robocze;ustawienia;preferencje;wirtualne pulpity;liczba;okna;ekran;marginesy;
Keywords[pt]=Xfwm4 áreas de trabalho;definições;preferências;ambientes de trabalho virtuais;número;janelas;ecrã;margens;
Keywords[pt_BR]=Xfwm4 espaços de trabalho;configurações;preferências;áreas de trabalho virtuais;número;janelas;tela;margens;
Keywords[ru]=Xfwm4 рабочие места;настройки;виртуальные десктопы;номер;окна;экран;расстояния;
Keywords[sk]=Xfwm4 pracovné;priestory;nastavenia;predvoľby;virtuálne;plochy;počet;číslo;okná;obrazovka;okraje;
Keywords[sl]=Xfwm4 delovne površine;nastavitve;lastnosti;virtualna namizja;število;okna;zasloni;robovi;
Keywords[sq]=Xfwm4 hapësira pune;rregullime;parapëlqime;desktopë virtualë;numër;dritare;skenë;mënjana;
Keywords[sr]=Xfwm4 радни простори;поставке;подешавања;нестварни простори;број;прозор;екран;ивице;
Keywords[sv]=Xfwm4 arbetsytor;inställningar;preferenser;virtuella skrivbord; nummer; skärmar;marginaler;
Keywords[tr]=Xfwm4 çalışma alanları;ayarlar;tercihler;yeğlemeler;sanal masaüstleri;numara;sayı;pencereler;ekran;kenar boşlukları;
Keywords[uk]=Xfwm4 робочий простір;налаштування;конфігурування;віртуальні столи;номер;вікна;екран;злиття;
Keywords[zh_CN]=Xfwm4 workspaces;settings;preferences;virtual desktops;number;windows;screen;margins;工作区;设置;首选项;虚拟桌面;数量;窗口;屏幕;边距;
Exec=Xfwm4-workspace-settings
Icon=org.xfce.workspaces
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
